body{
  width:100%;
  margin: 0;
  background-image: url('/public/images/mine/dynamic-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  overflow-x: hidden;
}

.header{
  width:100%;
  height: 80px;
  color:#A5D9E1;
  font-size: 32px;
  font-weight: bold;
  background-image: url('/public/images/mine/header-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header-title{
  width: 100%;
  height: 80px;
  text-align: center;
}
.header-title p{
  line-height: 80px;
}

.header-back{
  position: absolute;
  left:15px;
  width: 60px;
  height: 60px;
  top:10px;
  background-image: url('/public/images/mine/back.png');
  background-size: cover;
  cursor:pointer;
}


.assessment-block{
  width: 95%;
  height:30px;
  background: linear-gradient(to right,#0E3774, #3074B1);
  margin: 5px 5px;
  position:relative;
  display:inline-block;
}

.assessment-block2{
  width: 97%;
}

.assessment-block::before{
  content: "";
  display: inline-block;
  height: 30px;
  width: 20px;
  background: url(/public/images/mine/left-slash-block.png) no-repeat;
  background-size: 100%;
  position: absolute;
  left: -10px;
  top: 0px;
}

.assessment-block p{
  margin-left: 15px;
  line-height: 30px;
  vertical-align: middle;
  font-size: 16px;
  font-weight: bold;
  color:#A5D9E1;
  display: inline-block;
}

.main-content{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.content_left{
  flex-grow: 0;
  width: 25%;
  min-height: 800px;
}

.content_right{
  flex-grow: 0;
  width: 25%;
  min-height: 800px;
}

.content_center{
  flex-grow: 1;
  min-height: 800px;
  height: 900px;
  justify-content: center;
}

.production{
  margin:5px 10px;
}

#line-graphic{
  width:90%;
  height: 240px;
  margin: 0 auto;
}

#debris-flow{
  width:90%;
  height: 240px;
  margin: 0 auto;
}

#sedimentation-settlement{
  width:90%;
  height: 260px;
  margin: 0 auto;
}

#safety-gauge{
  width:90%;
  height: 240px;
  margin: 0 auto;
}


#confidence-band{
  width:96%;
  height: 240px;
  margin: 0 auto;
}

#rain-bar{
  width:90%;
  height: 260px;
  margin: 0 auto;
}

#map{
  width: 100%;
  height: 620px;
  background-image: url('/public/images/mine/7-zhutu.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.box{
  position: relative;
  margin: 20px;
}

.box-bg{
  width: 100%;
  position: absolute;
  top:0px;
  background: rgba(14, 55, 116, 0.7);
  z-index: -10;
}

.box-bg-1{
  height:240px;
}

.box-bg-2{
  height:240px;
}

.box-bg-3{
  height:260px;
}

.box-bg-4{
  height:240px;
}

.box-bg-5{
  height:240px;
}

.box-bg-6{
  height:260px;
}

.box-bg-7{
  height:260px;
}

.image-border{
  position: absolute;
	width: 20px;
	height: 20px;
}

.image-border1 {
	top: 0;
	left: 0;
	border-left: 1px solid #A5D9E1;
	border-top: 1px solid #A5D9E1;
}

.image-border2 {
	top: 0;
	right: -2px;
	border-right: 1px solid #A5D9E1;
	border-top: 1px solid #A5D9E1;
}

.image-border3 {
	bottom: 0;
	left: 0;
	border-bottom: 1px solid #A5D9E1;
	border-left: 1px solid #A5D9E1;
}

.image-border4 {
	bottom: 0;
	right: -2px;
	border-right: 1px solid #A5D9E1;
	border-bottom: 1px solid #A5D9E1;
}


table{
  color:#A5D9E1;
  margin: 5px auto;
  font-size: 12px;
  min-height: 180px;
}

th{
  width: 185px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.table-td{
  text-align:center;
  vertical-align:middle;
}


.info-block-p2{
  color:#DFC73D;
  font-size: 36px;
  font-weight: bold;
}


.info-block-p2 span{
  color:#E6951D;
  font-size: 22px;
  font-weight: bold;
}

#dot4::before{
  content: '';
  display: inline-block;
  height: 30px;
  width: 20px;
  background: url(/public/images/mine/yellow-dot.png) no-repeat;
  background-size: 100%;
  position: absolute;
  left: -20px;
  top: 6px;
}

#dot5::before{
  content: '';
  display: inline-block;
  height: 30px;
  width: 20px;
  background: url(/public/images/mine/yellow-dot.png) no-repeat;
  background-size: 100%;
  position: absolute;
  left: -20px;
  top: 106px;
}


.info-area2{
  position: absolute;
  width: 30%;
  top:30px;
  left:60px;
}

.info-block{
  display:inline-block;
  width:100px;
  height: 80px;
  margin-right: 20px;
}

.info-block-width{
  width:260px;
}

.info-block-p1{
  color:#E6951D;
  font-size: 22px;
  font-weight: bold;

}

.table-block{
  width:100%;height:260px;padding-top:15px;
}
