body{
  width:100%;
  margin: 0;
}

.header{
  width:100%;
  height: 80px;
  color:#A5D9E1;
  font-size: 32px;
  font-weight: bold;
  background-image: url('/public/images/mine/header-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header-title{
  width: 100%;
  height: 80px;
  text-align: center;
}

.header-back{
  position: absolute;
  left:15px;
  width: 60px;
  height: 60px;
  top:10px;
  background-image: url('/public/images/mine/back.png');
  background-size: cover;
  cursor:pointer;
}

.main-content{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.content_left{
  flex-grow: 0;
  width: 500px;
  min-height: 800px;
  background-color: white;
}

.content_right{
  flex-grow: 0;
  width: 500px;
  min-height: 800px;
  background-color: white;
}

.content_center{
  flex-grow: 1;
  min-height: 800px;
  height: 900px;
  justify-content: center;
}

#line-graphic{
  width:80%;
  height: 300px;
}

#debris-flow{
  width:80%;
  height: 300px;
}

#sedimentation-settlement{
  width:80%;
  height: 300px;
}

#safety-gauge{
  width:80%;
  height: 300px;
}


#confidence-band{
  width:80%;
  height: 300px;
}

#rain-bar{
  width:80%;
  height: 300px;
}

#map{
  width: 100%;
  height: calc(100vh - 130px);
}
