body {
  width: 100%;
  margin: 0;
}

.header {
  width: 100%;
  height: 80px;
  background-color: rgb(153, 172, 208);
  color: white;
  font-size: 32px;
  font-weight: bold;
}

.main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.content_left {
  flex-grow: 1;
  width: 500px;
  min-height: 800px;
}

.content_right {
  flex-grow: 0;
  width: 800px;
  min-height: 800px;
}

#map {
  width: 100%;
  height: 700px;
}

#noise-pie {
  width: 500px;
  height: 400px;
  display: inline-block;
}

.noise-pie-desc {
  display: inline-block;
  width: 290px;
  height: 400px;
  position: absolute;
}

#noise-bar {
  width: 100%;
  height: 400px;
}

#noise-line {
  width: 100%;
  height: 400px;
}

table {
  border: 1px solid #fff;
  /*去掉表格之间的空隙*/
  border-collapse: collapse;
  margin: 100px auto;
}

caption {
  font-size: 20px;
  font-weight: bold;
}

th, td {
  border: 1px solid #ccc;
  width: 13%;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
}

/*模拟对角线*/

.out {
  border-top: 50px #ffffff solid;
  width: 100%;
  height: 0px;
  border-left: 80px #ffffff solid;
  position: relative;
}

table b {
  font-style: normal;
  display: block;
  position: absolute;
  top: -55px;
  left: 40px;
  width: 50px;
}

table em {
  font-style: normal;
  display: block;
  position: absolute;
  top: -35px;
  left: -85px;
  width: 55px;
}

.slash{
  width:140%;
  height:1px;
  background-color: lightgray;
  position:absolute;
  top:-25px;
  left: -80px;
  transform:rotate(12deg);
}
