<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>区域建筑能耗</title>
  <link rel="stylesheet" href="/public/css/lib/iview.css" />
  <link rel="stylesheet" href="/public/css/src/energy/area-buildings-1920x1080.css" media="(max-width:1920px)"/>
  <link rel="stylesheet" href="/public/css/src/energy/area-buildings-2560x1440.css" media="screen and (max-width:2560px) and (min-width:1930px)"/>
</head>
<body>
  <div id="content">
    <div class="header">
      <div class="header-back" @click="backClick"></div>
      <div class="header-title">
        <p>怀化智慧能源综合管理平台</p>
      </div>
      <div class="left-menu">
        <div class="menu" @click="cityMapClick">城市级能耗监测</div>
        <div class="menu" @click="areaMapClick">社区级能耗监测</div>
      </div>
      <div class="right-menu">
        <div class="menu" @click="buildingMapClick">楼宇级能耗监测</div>
        <div class="menu" @click="flourClick">住户级能耗监测</div>
        <img class="menu-bottom" src="/public/images/mine/menu-bottom-line.png"/>
      </div>

    </div>
    <div class="main-content">
      <img src="/public/images/energy/7-1.png" class="pic1"/>
      <img src="/public/images/energy/7-2.png" class="pic2"/>
      <img src="/public/images/energy/7-3.png" class="pic3"/>
      <img src="/public/images/energy/7-4.png" class="pic4"/>
      <img src="/public/images/energy/7-5.png" class="pic5"/>
      <img src="/public/images/energy/7-6.png" class="pic6"/>
    </div>
</div>
</body>
<script src="/public/js/lib/jquery.min.js"></script>
<script src="/public/js/lib/echarts.min.js"></script>
<script src="/public/js/lib/vue.min.js"></script>
<script src="/public/js/lib/iview.min.js"></script>
<script src="/public/js/src/util.js"></script>
<script src="/public/js/src/energy/area-buildings.js"></script>
</html>
