<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>区县能耗图</title>
    <link rel="stylesheet" href="/public/css/src/energy/country.css" />
</head>
<body>
  <div id="content">
    <div class="header">
      <div class="header-back" @click="backClick"></div>
      <div class="header-title">
        <p>怀化智慧能源综合管理平台</p>
      </div>
      <div class="left-menu">
        <div class="menu" @click="areaMapClick">区域能耗地图</div>
        <div class="menu" @click="buildingMapClick">建筑能耗地图</div>
        <img class="menu-bottom" src="/public/images/mine/menu-bottom-line.png"/>
      </div>
      <div class="right-menu">
        <div class="menu" @click="flourClick">房屋能耗</div>
        <div class="menu" @click="analysisClick">能耗分析方法</div>
      </div>

    </div>
    <div class="main-content">
      <div class="content_left"></div>
      <div id="main" class="content_center"></div>
      <div class="content_right"></div>
    </div>
</div>
</body>
<script src="/public/js/lib/jquery.min.js" type="text/javascript"></script>
<script src="/public/js/lib/echarts.min.js"  type="text/javascript"></script>
<script src="/public/js/lib/vue.min.js"></script>
<script src="/public/js/src/util.js"></script>
<script src="/public/js/src/energy/country.js"></script>
</html>
