<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>分项能耗基准比较</title>
  <link rel="stylesheet" href="/public/css/lib/iview.css" />
  <link rel="stylesheet" href="/public/css/src/energy/face-1920x1080.css" media="(max-width:1920px)"/>
  <link rel="stylesheet" href="/public/css/src/energy/face-2560x1440.css" media="screen and (max-width:2560px) and (min-width:1930px)"/>
</head>
<body>
  <div id="content">
    <div class="header">
      <div class="header-back" @click="backClick"></div>
      <div class="header-title">
        <p>房屋能耗诊断图</p>
      </div>
    </div>
    <div class="main-content">
      <div class="top-content">
        <div class="content-box">
          <div class="box">
            <div class="box-bg box-bg-1"></div>
            <div class="image-border image-border1"></div>
            <div class="image-border image-border2"></div>
            <div class="image-border image-border3"></div>
            <div class="image-border image-border4"></div>
            <div style="height:360px;">
              <p class="content-box-title">洁卫</p>
              <img src="/public/images/energy/face4.png" />
              <div class="value-box">
                <p class="value-box-span1">日</p>
                <p class="value-box-span2">7052.28 </p>
                <p class="value-box-span3">kwh</p>
              </div>
              <div class="value-box">
                <p class="value-box-span1">月</p>
                <p class="value-box-span2">55307.04 </p>
                <p class="value-box-span3">kwh</p>
              </div>
              <div class="value-box">
                <p class="value-box-span1">年</p>
                <p class="value-box-span2">217625.71 </p>
                <p class="value-box-span3">kwh</p>
              </div>
            </div>
          </div>
        </div>
        <div class="content-box">
          <div class="box">
            <div class="box-bg box-bg-1"></div>
            <div class="image-border image-border1"></div>
            <div class="image-border image-border2"></div>
            <div class="image-border image-border3"></div>
            <div class="image-border image-border4"></div>
            <div style="height:360px;">
              <p class="content-box-title">餐饮</p>
              <img src="/public/images/energy/face2.png" />
              <div class="value-box">
                <p class="value-box-span1">日</p>
                <p class="value-box-span2">18899.11 </p>
                <p class="value-box-span3">kwh</p>
              </div>
              <div class="value-box">
                <p class="value-box-span1">月</p>
                <p class="value-box-span2">132293.8 </p>
                <p class="value-box-span3">kwh</p>
              </div>
              <div class="value-box">
                <p class="value-box-span1">年</p>
                <p class="value-box-span2">469973.1 </p>
                <p class="value-box-span3">kwh</p>
              </div>
            </div>
          </div>
        </div>
        <div class="content-box">
          <div class="box">
            <div class="box-bg box-bg-1"></div>
            <div class="image-border image-border1"></div>
            <div class="image-border image-border2"></div>
            <div class="image-border image-border3"></div>
            <div class="image-border image-border4"></div>
            <div style="height:360px;">
              <p class="content-box-title">空调</p>
              <img src="/public/images/energy/face1.png" />
              <div class="value-box">
                <p class="value-box-span1">日</p>
                <p class="value-box-span2">7872.457 </p>
                <p class="value-box-span3">kwh</p>
              </div>
              <div class="value-box">
                <p class="value-box-span1">月</p>
                <p class="value-box-span2">55107.2 </p>
                <p class="value-box-span3">kwh</p>
              </div>
              <div class="value-box">
                <p class="value-box-span1">年</p>
                <p class="value-box-span2">549286 </p>
                <p class="value-box-span3">kwh</p>
              </div>
            </div>
          </div>
        </div>
        <div class="content-box">
          <div class="box">
            <div class="box-bg box-bg-1"></div>
            <div class="image-border image-border1"></div>
            <div class="image-border image-border2"></div>
            <div class="image-border image-border3"></div>
            <div class="image-border image-border4"></div>
            <div style="height:360px;">
              <p class="content-box-title">其他</p>
              <img src="/public/images/energy/face3.png" />
              <div class="value-box">
                <p class="value-box-span1">日</p>
                <p class="value-box-span2">11068.22 </p>
                <p class="value-box-span3">kwh</p>
              </div>
              <div class="value-box">
                <p class="value-box-span1">月</p>
                <p class="value-box-span2">77477.57 </p>
                <p class="value-box-span3">kwh</p>
              </div>
              <div class="value-box">
                <p class="value-box-span1">年</p>
                <p class="value-box-span2">296634.3 </p>
                <p class="value-box-span3">kwh</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-content">
        <div class="graphic-box">
          <p>日能耗占比</p>
          <div class="graphic-box-block">
            <div class="graphic1-bar1"></div>
            <div class="graphic1-bar2"></div>
            <div class="graphic1-bar3"></div>
            <div class="graphic1-bar4"></div>
            <p class="graphic-bar-p graphic1-bar1-p1">15.7%</p>
            <p class="graphic-bar-p graphic1-bar2-p2">42.1%</p>
            <p class="graphic-bar-p graphic1-bar3-p3">17.5%</p>
            <p class="graphic-bar-p graphic1-bar4-p4">24.7%</p>
          </div>
        </div>
        <div class="graphic-box">
          <p>月能耗占比</p>
          <div class="graphic-box-block">
            <div class="graphic2-bar1"></div>
            <div class="graphic2-bar2"></div>
            <div class="graphic2-bar3"></div>
            <div class="graphic2-bar4"></div>
            <p class="graphic-bar-p graphic2-bar1-p1">17.6%</p>
            <p class="graphic-bar-p graphic2-bar2-p2">47.8%</p>
            <p class="graphic-bar-p graphic2-bar3-p3">7.7%</p>
            <p class="graphic-bar-p graphic2-bar4-p4">26.9%</p>
          </div>
        </div>
        <div class="graphic-box">
          <p>年能耗占比</p>
          <div class="graphic-box-block">
            <div class="graphic3-bar1"></div>
            <div class="graphic3-bar2"></div>
            <div class="graphic3-bar3"></div>
            <div class="graphic3-bar4"></div>
            <p class="graphic-bar-p graphic3-bar1-p1">14.2%</p>
            <p class="graphic-bar-p graphic3-bar2-p2">30.7%</p>
            <p class="graphic-bar-p graphic3-bar3-p3">35.8%</p>
            <p class="graphic-bar-p graphic3-bar4-p4">19.3%</p>
          </div>
        </div>
      </div>
    </div>
</div>
</body>
<script src="/public/js/lib/jquery.min.js"></script>
<script src="/public/js/lib/echarts.min.js"></script>
<script src="/public/js/lib/vue.min.js"></script>
<script src="/public/js/lib/iview.min.js"></script>
<script src="/public/js/src/util.js"></script>
<script src="/public/js/src/energy/face.js"></script>
</html>
