<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>房屋能耗-房屋结构</title>
  <link rel="stylesheet" href="/public/css/lib/iview.css" />
  <link rel="stylesheet" href="/public/css/src/energy/flour-1920x1080.css" media="(max-width:1920px)"/>
  <link rel="stylesheet" href="/public/css/src/energy/flour-2560x1440.css" media="screen and (max-width:2560px) and (min-width:1930px)"/>
</head>
<body>
  <div id="content">
    <div class="header">
      <div class="header-back" @click="backClick"></div>
      <div class="header-title">
        <p>怀化智慧能源综合管理平台</p>
      </div>
      <div class="left-menu">
        <div class="menu" @click="areaMapClick">社区级能耗监测</div>
        <div class="menu" @click="buildingMapClick">楼宇级能耗监测</div>
      </div>
      <div class="right-menu">
        <div class="menu" @click="flourClick">住户级能耗监测</div>
        <div class="menu" @click="analysisClick">能耗数据挖掘流程</div>
        <img class="menu-bottom" src="/public/images/mine/menu-bottom-line.png"/>
      </div>

    </div>
    <div class="main-content">
      <div class="content_left">
        <div class="main-menu-block">
          <div class="menu-block" @click="flourBtnClick">
            <div class="box-bg box-bg-3"></div>
            <div class="image-border image-border1"></div>
            <div class="image-border image-border2"></div>
            <div class="image-border image-border3"></div>
            <div class="image-border image-border4"></div>
            <div class="menu-inner-block">
              <img class="menu-icon" src="/public/images/energy/icon3.png" />
              <p>住户能耗</br>实时监测</p>
            </div>
          </div>

          <div class="menu-block" @click="itemBtnClick">
            <div class="box-bg box-bg-3"></div>
            <div class="image-border image-border1"></div>
            <div class="image-border image-border2"></div>
            <div class="image-border image-border3"></div>
            <div class="image-border image-border4"></div>
            <div  class="menu-inner-block">
              <img class="menu-icon" src="/public/images/energy/icon2.png" />
              <p>分项能耗</br>实时监测</p>
            </div>
          </div>

          <div class="menu-block" @click="baseBtnClick">
            <div class="box-bg box-bg-3"></div>
            <div class="image-border image-border1"></div>
            <div class="image-border image-border2"></div>
            <div class="image-border image-border3"></div>
            <div class="image-border image-border4"></div>
            <div class="menu-inner-block">
              <img class="menu-icon" src="/public/images/energy/icon1.png" />
            <p>实时分项</br>能耗基准</p>
            </div>
          </div>

        </div>
        <div class="count-box">
          <div class="assessment-block"><p>总能耗</p></div>
          <div class="box">
            <div class="box-bg box-bg-2"></div>
            <div class="image-border image-border1"></div>
            <div class="image-border image-border2"></div>
            <div class="image-border image-border3"></div>
            <div class="image-border image-border4"></div>
            <div id="count-graphic">
            </div>
          </div>

        </div>
      </div>
      <div class="content_center">
        <div class="box">
          <div class="box-bg box-bg-1"></div>
          <div class="image-border image-border1"></div>
          <div class="image-border image-border2"></div>
          <div class="image-border image-border3"></div>
          <div class="image-border image-border4"></div>
            <div id="graphic" >
              <div style="width:968px;height:502px;margin:0 auto;position:relative;top:50%;transform:translateY(-50%);">
                <img class="room"  v-for="elem in rommBgData" :src="elem"/>
                <img class="main-board" src="/public/images/room/flour.png"/>
              </div>
            </div>

        </div>
      </div>

    </div>
    </div>
</div>
</body>
<script src="/public/js/lib/jquery.min.js"></script>
<script src="/public/js/lib/echarts.min.js"></script>
<script src="/public/js/lib/vue.min.js"></script>
<script src="/public/js/lib/iview.min.js"></script>
<script src="/public/js/src/util.js"></script>
<script src="/public/js/src/energy/flour.js"></script>
</html>
