<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>粉尘监测</title>
  <link rel="stylesheet" href="/public/css/lib/iview.css" />
  <link rel="stylesheet" href="/public/css/src/mine/dust.css" />
</head>
<body>
  <div class="header">
    怀化市矿山资源
  </div>
    <div class="content"  id="content">
      <div class="content_left">
        <div id="map"></div>
        <div>
          <table>
            <caption>我是标题</caption>
            <thead>
                <tr>
                    <th>
                        <div class="out">
                            <b>勘测项</b>
                            <div class="slash"></div>
                            <em>地区</em>
                        </div>
                    </th>
                    <th>PM1（μg/m³）</th>
                    <th>PM2.5（μg/m³）</th>
                    <th>PM10（μg/m³）</th>
                    <th>TSP（μg/m³）</th>
                    <th>AQI</th>
                </tr>
            </thead>
            <tbody>
              <tr v-for="elem in data1">
                  <td style="width:170px;">${elem.name}</td>
                  <td>${elem.indicator1}</td>
                  <td>${elem.indicator2}</td>
                  <td>${elem.indicator3}</td>
                  <td>${elem.indicator4}</td>
                  <td>${elem.indicator5}</td>
              </tr>
            </tbody>
        </table>
        </div>
      </div>
      <div class="content_right">
        <div style="width:100%;position:relative">
          <div id="dust-pie"></div>
          <div class="dust-pie-desc">
            <p>更新时间：2020年09月01日 19:13:36</p>
            <p>达标率：96%</p>
            <p>总评分：91</p>
          </div>
        </div>

        <div id="dust-bar">

        </div>
        <div id="dust-line"></div>
        <div>
          <i-button @click="yearBtnclick">年</i-button>
          <i-button @click="monthBtnclick">月</i-button>
          <i-button @click="weekBtnClick">周</i-button>
        </div>
      </div>
    </div>
</body>
<script src="/public/js/lib/jquery.min.js"></script>
<script src="/public/js/lib/echarts.min.js"></script>
<script src="/public/js/lib/vue.min.js"></script>
<script src="/public/js/lib/iview.min.js"></script>
<script src="/public/js/src/util.js"></script>
<script src="/public/js/src/mine/dust.js"></script>
</html>
