<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>矿山动态评估</title>
  <link rel="stylesheet" href="/public/css/lib/iview.css" />
  <link rel="stylesheet" href="/public/css/src/mine/dynamic-evaluate.css" />
</head>
<body>
  <div class="header">
    怀化市矿山资源
  </div>
    <div class="content" id="content">
      <div class="content_left">
        <div class="left-sub-area1">
          <div class="count-area">
            <div class="index-box">${currentPeopleData}</div>
            <span>影响人口</span>
          </div>
          <div class="count-area">
            <div class="index-box">${currentAreaData}</div>
            <span>覆盖面积</span>
          </div>
          <div class="count-area">
            <div class="index-box">21</div>
            <span>监测矿区</span>
          </div>
        </div>
        <div>
          <p>具体指数</p>
          <div>
            <p>安全生产</p>
            <p>${currentSafetyProductData}</p>
            <div id="hor-bar-graphic1">

            </div>
          </div>
          <div>
            <p>环境质量</p>
            <p>${currentEnvData}</p>
            <div id="hor-bar-graphic2">

            </div>
          </div>
          <div>
            <p>灾害管理<span>${currentDisasterData}分</span></p>
            <div>
              报警信息<span>${currentAlarmData}条</span>
            </div>
          </div>
          <div>
            <p>废料利用<span>${currentWasteData}分</span></p>
            <div>
              废料利用率<span>43.4%</span>
            </div>
          </div>
          <div>
            <p>绿化覆盖<span>87<span></p>
            <div>
              覆盖面积<span>8.9km²</span>
            </div>
          </div>
          <div>
            <p>建筑维护<span>${currentMainData}<span></p>
            <div>
              安置建筑<span>43420</span>
            </div>
          </div>
        </div>
      </div>
      <div id="main" class="center">
        <div>
          <div id="radar"></div>
        </div>
        <div>
          <p>近日评价趋势</p>
          <div id="tendency-bar">

          </div>
          <i-button @click="dayBtnClick">日</i-button>
          <i-button @click="monthBtnClick">月</i-button>
          <i-button @click="yearBtnClick">年</i-button>
        </div>
      </div>
      <div class="content_right">
        <div class="safety">
          <p>评分</p>
          <div id="safety-gauge"></div>
        </div>
        <div class="synthesis">
          <p>综合评分</p>
          <div id="synthesis-graphic"></div>
        </div>
        <div class="evaluate">
          <p>评价方法</p>
          <div></div>
        </div>
        <div class="restore">
          <p>评估报告</p>
          <div>层次分析法AHP<br>因子分析</div>
        </div>
        <div class="restore">
          <p v-for="elem in currentEvaluateReportData">${elem.name}:${elem.rank},${elem.time}</p>
        </div>
      </div>
    </div>
</body>
<script src="/public/js/lib/jquery.min.js"></script>
<script src="/public/js/lib/echarts.min.js"></script>
<script src="/public/js/lib/vue.min.js"></script>
<script src="/public/js/lib/iview.min.js"></script>
<script src="/public/js/src/util.js"></script>
<script src="/public/js/src/mine/dynamic-evaluate.js"></script>
</html>
