<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>地质灾害</title>
  <link rel="stylesheet" href="/public/css/lib/iview.css" />
  <link rel="stylesheet" href="/public/css/src/mine/geological-disaster.css" />
</head>
<body>
  <div id="content">
    <div class="header">
      <div class="header-back" @click="backClick"></div>
      <div class="header-title">
        <p>地质灾害监测</p>
      </div>
    </div>
      <div class="main-content">
        <div class="content_left">
          <div class="production">

            <div>
              <div class="assessment-block"><p>滑坡监测</p></div>
              <div class="box">
                <div class="box-bg box-bg-1"></div>
                <div class="image-border image-border1"></div>
        				<div class="image-border image-border2"></div>
        				<div class="image-border image-border3"></div>
        				<div class="image-border image-border4"></div>
                <div id="line-graphic">

                </div>
              </div>
            </div>
            <div>
              <div class="assessment-block"><p>泥石流监测</p></div>
              <div class="box">
                <div class="box-bg box-bg-2"></div>
                <div class="image-border image-border1"></div>
        				<div class="image-border image-border2"></div>
        				<div class="image-border image-border3"></div>
        				<div class="image-border image-border4"></div>
                <div id="debris-flow">

                </div>
              </div>

            </div>
            <div>
              <div class="assessment-block"><p>地面沉降监测</p></div>
              <div class="box">
                <div class="box-bg box-bg-3"></div>
                <div class="image-border image-border1"></div>
        				<div class="image-border image-border2"></div>
        				<div class="image-border image-border3"></div>
        				<div class="image-border image-border4"></div>
                <div id="sedimentation-settlement">

                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="main" class="content_center">
          <div>
            <div id="map"></div>
          </div>
          <div></div>
        </div>
        <div class="content_right">
          <div class="safety">
            <div class="assessment-block"><p>安全概况</p></div>
            <div class="box">
              <div class="box-bg box-bg-4"></div>
              <div class="image-border image-border1"></div>
              <div class="image-border image-border2"></div>
              <div class="image-border image-border3"></div>
              <div class="image-border image-border4"></div>
              <div id="safety-gauge"></div>
            </div>
          </div>
          <div class="evaluate">
            <div class="assessment-block"><p>近日趋势</p></div>
            <div class="box">
              <div class="box-bg box-bg-5"></div>
              <div class="image-border image-border1"></div>
              <div class="image-border image-border2"></div>
              <div class="image-border image-border3"></div>
              <div class="image-border image-border4"></div>
              <div id="confidence-band"></div>
            </div>
          </div>
          <div class="restore">
            <div class="assessment-block"><p>降雨量监测</p></div>
            <div class="box">
              <div class="box-bg box-bg-6"></div>
              <div class="image-border image-border1"></div>
              <div class="image-border image-border2"></div>
              <div class="image-border image-border3"></div>
              <div class="image-border image-border4"></div>
              <div id="rain-bar"></div>
            </div>
          </div>
        </div>
      </div>
  </div>

</body>
<script src="/public/js/lib/jquery.min.js"></script>
<script src="/public/js/lib/echarts.min.js"></script>
<script src="/public/js/lib/vue.min.js"></script>
<script src="/public/js/lib/iview.min.js"></script>
<script src="/public/js/src/util.js"></script>
<script src="/public/js/src/mine/geological-disaster.js"></script>
</html>
