<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>地质灾害</title>
  <link rel="stylesheet" href="/public/css/lib/iview.css" />
  <link rel="stylesheet" href="/public/css/src/mine/geological-disaster-1920x1080.css" media="(max-width:1920px)"/>
  <link rel="stylesheet" href="/public/css/src/mine/geological-disaster-2560x1440.css" media="screen and (max-width:2560px) and (min-width:1930px)"/>
</head>
<body>
  <div id="content">
    <div class="header">
      <div class="header-back" @click="backClick"></div>
      <div class="header-title">
        <p>地质灾害监测</p>
      </div>
    </div>
      <div class="main-content">
        <div class="content_left">
          <div class="production">
            <div>
              <div class="assessment-block"><p>滑坡监测</p></div>
              <div class="box">
                <div class="box-bg box-bg-1"></div>
                <div class="image-border image-border1"></div>
        				<div class="image-border image-border2"></div>
        				<div class="image-border image-border3"></div>
        				<div class="image-border image-border4"></div>
                <div id="line-graphic">

                </div>
              </div>
            </div>
            <div>
              <div class="assessment-block"><p>泥石流监测</p></div>
              <div class="box">
                <div class="box-bg box-bg-2"></div>
                <div class="image-border image-border1"></div>
        				<div class="image-border image-border2"></div>
        				<div class="image-border image-border3"></div>
        				<div class="image-border image-border4"></div>
                <div id="debris-flow">

                </div>
              </div>

            </div>
            <div>
              <div class="assessment-block"><p>地面沉降监测</p></div>
              <div class="box">
                <div class="box-bg box-bg-3"></div>
                <div class="image-border image-border1"></div>
        				<div class="image-border image-border2"></div>
        				<div class="image-border image-border3"></div>
        				<div class="image-border image-border4"></div>
                <div id="sedimentation-settlement">

                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="main" class="content_center">
          <div style="margin:15px;position:relative">
            <div id="map"></div>
            <div class="info-area2">
              <div class="info-block info-block-width">
                <p class="info-block-p1" id="dot4">监测时长</p>
                <p class="info-block-p2">6954<span>&nbsp;小时</span></p>
              </div>
              <div class="info-block info-block-width" style="margin-top:20px;" >
                <p class="info-block-p1" id="dot5">预警信息</p>
                <p class="info-block-p2">5928<span>&nbsp;条</span></p>
              </div>
            </div>
          </div>
          <div>
            <div class="assessment-block assessment-block2"><p>辰溪田湾磷矿矿区监测数据</p></div>
            <div class="box">
              <div class="box-bg box-bg-7"></div>
              <div class="image-border image-border1"></div>
              <div class="image-border image-border2"></div>
              <div class="image-border image-border3"></div>
              <div class="image-border image-border4"></div>
              <div style="width:100%;height:260px;padding-top:15px;">
                <table>
                  <thead>
                      <tr>
                          <th>监测点名称</th>
                          <th>滑坡位移总体变化(mm)</th>
                          <th>泥石流水平位移变化量(mm)</th>
                          <th>泥石流平面变形量(mm)</th>
                          <th>地面沉降垂直位移变化(mm)</th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td class="table-td">上木溪监测点</td>
                        <td class="table-td">0.56</td>
                        <td class="table-td">1.897</td>
                        <td class="table-td">1.71</td>
                        <td class="table-td">2.727</td>
                    </tr>
                    <tr>
                        <td class="table-td">杨家岭监测点</td>
                        <td class="table-td">5.46</td>
                        <td class="table-td">1.393</td>
                        <td class="table-td">5.401</td>
                        <td class="table-td">7.674</td>
                    </tr>
                    <tr>
                        <td class="table-td">桑树湾监测点</td>
                        <td class="table-td">1.375</td>
                        <td class="table-td">1.45</td>
                        <td class="table-td">3.22</td>
                        <td class="table-td">4.45</td>
                    </tr>
                    <tr>
                        <td class="table-td">塘里村监测点</td>
                        <td class="table-td">0.465</td>
                        <td class="table-td">1.393</td>
                        <td class="table-td">1.77</td>
                        <td class="table-td">2.273</td>
                    </tr>
                    <tr>
                        <td class="table-td">高路湾监测点</td>
                        <td class="table-td">1.57</td>
                        <td class="table-td">1.71</td>
                        <td class="table-td">5.33</td>
                        <td class="table-td">2.11</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="content_right">
          <div class="production">
            <div class="safety">
              <div class="assessment-block"><p>安全概况</p></div>
              <div class="box">
                <div class="box-bg box-bg-4"></div>
                <div class="image-border image-border1"></div>
                <div class="image-border image-border2"></div>
                <div class="image-border image-border3"></div>
                <div class="image-border image-border4"></div>
                <div id="safety-gauge"></div>
              </div>
            </div>
            <div class="evaluate">
              <div class="assessment-block"><p>近日趋势</p></div>
              <div class="box">
                <div class="box-bg box-bg-5"></div>
                <div class="image-border image-border1"></div>
                <div class="image-border image-border2"></div>
                <div class="image-border image-border3"></div>
                <div class="image-border image-border4"></div>
                <div id="confidence-band"></div>
              </div>
            </div>
            <div class="restore">
              <div class="assessment-block"><p>降雨量监测</p></div>
              <div class="box">
                <div class="box-bg box-bg-6"></div>
                <div class="image-border image-border1"></div>
                <div class="image-border image-border2"></div>
                <div class="image-border image-border3"></div>
                <div class="image-border image-border4"></div>
                <div id="rain-bar"></div>
              </div>
            </div>
          </div>

        </div>
      </div>
  </div>

</body>
<script src="/public/js/lib/jquery.min.js"></script>
<script src="/public/js/lib/echarts.min.js"></script>
<script src="/public/js/lib/vue.min.js"></script>
<script src="/public/js/lib/iview.min.js"></script>
<script src="/public/js/src/util.js"></script>
<script src="/public/js/src/mine/geological-disaster.js"></script>
</html>
