<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>空气监测</title>
  <link rel="stylesheet" href="/public/css/src/mine/noise.css" />
</head>
<body>
  <div class="header">
    怀化市矿山资源
  </div>
    <div class="content">
      <div class="content_left">
        <div id="map"></div>
        <div>

        </div>
      </div>
      <div class="content_right">
        <div style="width:100%;position:relative">
          <div id="noise-pie"></div>
          <div class="noise-pie-desc">
            <p>更新时间：2020年09月01日 19:13:36</p>
            <p>达标率：96%</p>
            <p>总评分：96</p>
          </div>
        </div>

        <div id="noise-bar">

        </div>
        <div id="noise-line"></div>
      </div>
    </div>
</body>
<script src="/public/js/lib/jquery.min.js"></script>
<script src="/public/js/lib/echarts.min.js"></script>
<script src="/public/js/src/util.js"></script>
<script src="/public/js/src/mine/noise.js"></script>
</html>
