<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>噪音监测</title>
  <link rel="stylesheet" href="/public/css/lib/iview.css" />
  <link rel="stylesheet" href="/public/css/src/mine/noise-1920x1080.css" media="(max-width:1920px)"/>
  <link rel="stylesheet" href="/public/css/src/mine/noise-2560x1440.css" media="screen and (max-width:2560px) and (min-width:1930px)"/>
</head>
<body>
  <div  id="content">
    <div class="header">
      <div class="header-back" @click="backClick"></div>
      <div class="header-title">
        <p>环境保护</p>
      </div>
      <div class="left-menu">
        <div class="menu" @click="airMonitorClick">大气监测</div>
        <div class="menu" @click="waterMonitorClick">水质监测</div>

      </div>
      <div class="right-menu">
        <div class="menu" @click="noiseMonitorClick">噪音监测</div>
        <div class="menu" @click="dustMonitorClick">粉尘监测</div>
        <img class="menu-bottom" src="/public/images/mine/menu-bottom-line.png"/>
      </div>

    </div>
      <div class="main-content">
        <div class="content_left">
          <div id="map"></div>
          <div>
            <div class="assessment-block"><p>数据详情</p></div>
            <div class="box">
              <div class="box-bg box-bg-1"></div>
              <div class="image-border image-border1"></div>
              <div class="image-border image-border2"></div>
              <div class="image-border image-border3"></div>
              <div class="image-border image-border4"></div>
              <div class="table-block">
                <table>
                  <thead>
                      <tr>
                          <th>地区</th>
                          <th>昼间平均噪声（db）</th>
                          <th>夜间平均噪声（db）</th>
                          <th>昼间背景噪声（db）</th>
                          <th>持续时长占比（min）</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr v-for="elem in data1">
                          <td style="width:170px;">${elem.name}</td>
                          <td class="table-td">${elem.noise1}</td>
                          <td class="table-td">${elem.noise2}</td>
                          <td class="table-td">${elem.noise3}</td>
                          <td class="table-td">${elem.noise4}</td>
                      </tr>

                  </tbody>
                </table>
              </div>

            </div>

          </div>
        </div>
        <div class="content_right">
          <div style="width:100%;position:relative;margin-top:10px">
            <div class="assessment-block"><p>噪音概况</p></div>
            <div class="box">
              <div class="box-bg box-bg-2"></div>
              <div class="image-border image-border1"></div>
              <div class="image-border image-border2"></div>
              <div class="image-border image-border3"></div>
              <div class="image-border image-border4"></div>
              <div style="position:relative;">
                <div id="noise-pie"></div>
                <div class="noise-pie-desc">
                  <p class="noise-pie-desc-title">综合评分</p>
                  <div class="noise-pie-data-area">
                    <div class="noise-pie-data-area-content">
                      <p class="noise-pie-data-area-content3">更新时间：2020年10月11日 19:13:36</p>
                      <p class="noise-pie-data-area-content1">达标率：</p>
                      <p class="noise-pie-data-area-content2">96%</p>
                    </div>
                    <div class="noise-pie-data-area-score"><p>96<p><span>分</span></div>

                  </div>
                </div>
              </div>
            </div>

          </div>

          <div>
            <div class="assessment-block"><p>同比环比</p></div>
            <div class="box">
              <div class="box-bg box-bg-3"></div>
              <div class="image-border image-border1"></div>
              <div class="image-border image-border2"></div>
              <div class="image-border image-border3"></div>
              <div class="image-border image-border4"></div>
              <div id="noise-bar"></div>
            </div>
          </div>

          <div style="position:relative">
            <div class="assessment-block"><p>噪音污染度走势图</p></div>
            <div class="box">
              <div class="box-bg box-bg-4"></div>
              <div class="image-border image-border1"></div>
              <div class="image-border image-border2"></div>
              <div class="image-border image-border3"></div>
              <div class="image-border image-border4"></div>
              <div id="noise-line"></div>
              <div class="date-box">
                <div class="period" @click="yearBtnClick">年</div>
                <div class="period" @click="monthBtnClick">月</div>
                <div class="period" @click="dayBtnClick">日</div>
              </div>
            </div>
          </div>

        </div>
      </div>
  </div>

</body>
<script src="/public/js/lib/jquery.min.js"></script>
<script src="/public/js/lib/echarts.min.js"></script>
<script src="/public/js/lib/vue.min.js"></script>
<script src="/public/js/lib/iview.min.js"></script>
<script src="/public/js/src/util.js"></script>
<script src="/public/js/src/mine/noise.js"></script>
</html>
