<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>安全生产</title>
  <link rel="stylesheet" href="/public/css/lib/iview.css" />
  <link rel="stylesheet" href="/public/css/src/mine/safety-production.css" />
</head>
<body>
  <div id="content">
    <div class="header">
      <div class="header-back" @click="backClick"></div>
      <div class="header-title">
        <p>安全生产</p>
      </div>
    </div>
      <div class="main-content">
        <div class="content_left">
          <p>视频缩略图</p>
          <div class="video-list">

          </div>
        </div>
        <div class="center">
          <div class="center-content">

          </div>
          <div>
            <div id="safety-bar-graphic"></div>
            <div id="safety-line-graphic"></div>
          </div>
        </div>
        <div class="content_right">
          <div>
            <p>值班</p>
            <p>今日在岗工作总共<span>${currentDutyData.count}</span>人</p>
            <p>其中，工人<span>${currentDutyData.worker}</span>人，领导<sapn>${currentDutyData.leader}</span>人,研究员<span>${currentDutyData.researcher}</span>人</p>
          </div>
          <div>
            <p>工况</p>
            <div>
              <p>挖掘机运行情况</p>
              <div id="hor-bar-graphic1"></div>
            </div>
            <div>
              <p>破碎机运行情况</p>
              <div id="hor-bar-graphic2"></div>
            </div>

            <div>
              <p>自卸汽车运行情况</p>
              <div id="hor-bar-graphic3"></div>
            </div>

            <div>
              <p>钻机运行情况</p>
              <div id="hor-bar-graphic4"></div>
            </div>

          </div>
          <div>
              <p>公告</p>
              <p v-for="elem in currentNoticeData">公告1:${elem.data1},<span>${elem.data2}</span></p>
          </div>
        </div>
      </div>
  </div>

</body>
<script src="/public/js/lib/jquery.min.js"></script>
<script src="/public/js/lib/echarts.min.js"></script>
<script src="/public/js/lib/vue.min.js"></script>
<script src="/public/js/lib/iview.min.js"></script>
<script src="/public/js/src/util.js"></script>
<script src="/public/js/src/mine/safety-production.js"></script>
</html>
