<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>安全生产</title>
  <link rel="stylesheet" href="/public/css/lib/iview.css" />
  <link rel="stylesheet" href="/public/css/src/mine/safety-production-1920x1080.css" media="(max-width:1920px)"/>
  <link rel="stylesheet" href="/public/css/src/mine/safety-production-2560x1440.css" media="screen and (max-width:2560px) and (min-width:1930px)"/>
</head>
</head>
<body>
  <div id="content">
    <div class="header">
      <div class="header-back" @click="backClick"></div>
      <div class="header-title">
        <p>安全生产</p>
      </div>
    </div>
      <div class="main-content">
        <div class="content_left">
          <div class="assessment-block"><p>视频缩略图</p></div>
          <div class="video-list">
            <div class="box">
              <div class="box-bg box-bg-5"></div>
              <div class="image-border image-border1"></div>
              <div class="image-border image-border2"></div>
              <div class="image-border image-border3"></div>
              <div class="image-border image-border4"></div>
              <div style="padding:10px">
                <div class="video"></div>
                <div class="video"></div>
                <div class="video"></div>
                <div class="video"></div>
                <div class="video"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="center">
          <div class="center-content">
            <div id="map"></div>
          </div>
          <div style="width:100%">
            <div id="safety-line-graphic">
              <div class="assessment-block arrow" @click="waterBtnClick"><p>水电情况</p></div>
              <div class="box">
                <div class="box-bg box-bg-1"></div>
                <div class="image-border image-border1"></div>
                <div class="image-border image-border2"></div>
                <div class="image-border image-border3"></div>
                <div class="image-border image-border4"></div>
                <div >
                  <div id="water-line-graphic"></div>
                  <div id="elec-line-graphic"></div>
                </div>
              </div>

            </div>
            <div id="safety-bar-graphic-box">
              <div class="assessment-block"><p>今日预警情况</p></div>
              <div class="box">
                <div class="box-bg box-bg-1"></div>
                <div class="image-border image-border1"></div>
                <div class="image-border image-border2"></div>
                <div class="image-border image-border3"></div>
                <div class="image-border image-border4"></div>
                <div id="safety-bar-graphic"></div>
              </div>

            </div>
          </div>
        </div>
        <div class="content_right">
          <div class="right-box">
            <div class="assessment-block"><p>值班</p></div>
            <div class="box">
              <div class="box-bg box-bg-2"></div>
              <div class="image-border image-border1"></div>
              <div class="image-border image-border2"></div>
              <div class="image-border image-border3"></div>
              <div class="image-border image-border4"></div>
              <div style="width:100%;text-align:center">
                <div class="duty-box">
                  <div class="duty-item">
                    <p>总人数</p>
                    <span>${currentDutyData.count}</span>
                  </div>
                  <div class="duty-item">
                    <p>到岗</p>
                    <span>${currentDutyData.onwork}</span>
                  </div>
                  <div class="duty-item">
                    <p>缺勤</p>
                    <span>${currentDutyData.absence}</span>
                  </div>
                </div>
                <div class="duty-box">
                  <div class="duty-item">
                    <p>工人</p>
                    <span>${currentDutyData.worker}</span>
                  </div>
                  <div class="duty-item">
                    <p>管理人员</p>
                    <span>${currentDutyData.leader}</span>
                  </div>
                  <div class="duty-item">
                    <p>科研人员</p>
                    <span>${currentDutyData.researcher}</span>
                  </div>
                </div>
              </div>
            </div>


          </div>
          <div class="right-box">
            <div class="assessment-block"><p>工况</p></div>
            <div class="box">
              <div class="box-bg box-bg-3"></div>
              <div class="image-border image-border1"></div>
              <div class="image-border image-border2"></div>
              <div class="image-border image-border3"></div>
              <div class="image-border image-border4"></div>
              <div>
                <div id="hor-bar-graphic1"></div>
              </div>
            </div>
          </div>
          <div class="right-box">
              <div class="assessment-block"><p>公告</p></div>
              <div class="box">
                <div class="box-bg box-bg-1"></div>
                <div class="image-border image-border1"></div>
                <div class="image-border image-border2"></div>
                <div class="image-border image-border3"></div>
                <div class="image-border image-border4"></div>
                <div style="color:#A5D9E1;min-height:310px;">
                  <table>
                    <thead>
                        <tr>
                            <th class="table-td">序号</th>
                            <th class="table-th">危险危害因素</th>
                            <th class="table-th">后果</th>
                            <th class="table-th4">事故预防及应对措施</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr v-for="elem in currentNoticeData">
                          <td class="table-td1">${elem.data1}</td>
                          <td class="table-td">${elem.data2}</td>
                          <td class="table-td">${elem.data3}</td>
                          <td class="table-td4">${elem.data4}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>

          </div>
        </div>
      </div>
  </div>

</body>
<script src="/public/js/lib/jquery.min.js"></script>
<script src="/public/js/lib/echarts.min.js"></script>
<script src="/public/js/lib/vue.min.js"></script>
<script src="/public/js/lib/iview.min.js"></script>
<script src="/public/js/src/util.js"></script>
<script src="/public/js/src/mine/safety-production.js"></script>
</html>
