<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>安全生产</title>
  <link rel="stylesheet" href="/public/css/src/mine/safety-production.css" />
</head>
<body>
  <div class="header">
    怀化市矿山资源
  </div>
    <div class="content">
      <div class="content_left">
        <p>视频缩略图</p>
        <div class="video-list">
          
        </div>
      </div>
      <div class="center">
        <div class="center-content">

        </div>
        <div>
          <div id="safety-bar-graphic"></div>
          <div id="safety-line-graphic"></div>
        </div>
      </div>
      <div class="content_right">
        <div>
          <p>值班</p>
          <p>今日在岗工作总共<span>1000</span>人</p>
          <p>其中，工人<span>1000</span>人，领导<sapn>10</span>人,研究员<span>20</span>人</p>
        </div>
        <div>
          <p>工况</p>
          <div>
            <p>挖掘机运行情况</p>
            <div id="hor-bar-graphic1"></div>
          </div>
          <div>
            <p>破碎机运行情况</p>
            <div id="hor-bar-graphic2"></div>
          </div>

          <div>
            <p>推土机运行情况</p>
            <div id="hor-bar-graphic3"></div>
          </div>

          <div>
            <p>自卸汽车运行情况</p>
            <div id="hor-bar-graphic4"></div>
          </div>

          <div>
            <p>钻机运行情况</p>
            <div id="hor-bar-graphic5"></div>
          </div>

        </div>
        <div>
            <p>公告</p>
            <p>公告1:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
            <p>公告2:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
            <p>公告3:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
            <p>公告4:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
        </div>
      </div>
    </div>
</body>
<script src="/public/js/lib/jquery.min.js"></script>
<script src="/public/js/lib/echarts.min.js"></script>
<script src="/public/js/src/util.js"></script>
<script src="/public/js/src/mine/safety-production.js"></script>
</html>
