<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>水质监测</title>
  <link rel="stylesheet" href="/public/css/lib/iview.css" />
  <link rel="stylesheet" href="/public/css/src/mine/water-1920x1080.css" media="(max-width:1920px)"/>
  <link rel="stylesheet" href="/public/css/src/mine/water-2560x1440.css" media="screen and (max-width:2560px) and (min-width:1930px)"/>
</head>
<body>
  <div id="content">
    <div class="header">
      <div class="header-back" @click="backClick"></div>
      <div class="header-title">
        <p>环境保护</p>
      </div>
      <div class="left-menu">
        <div class="menu" @click="airMonitorClick">大气监测</div>
        <div class="menu" @click="waterMonitorClick">水质监测</div>
        <img class="menu-bottom" src="/public/images/mine/menu-bottom-line.png"/>
      </div>
      <div class="right-menu">
        <div class="menu" @click="noiseMonitorClick">噪音监测</div>
        <div class="menu" @click="dustMonitorClick">粉尘监测</div>
      </div>

    </div>
      <div class="main-content" >
        <div class="content_left">
          <div id="map"></div>
          <div>
            <div class="assessment-block"><p>数据详情</p></div>
            <div class="box">
              <div class="box-bg box-bg-1"></div>
              <div class="image-border image-border1"></div>
              <div class="image-border image-border2"></div>
              <div class="image-border image-border3"></div>
              <div class="image-border image-border4"></div>
              <div>
                <table>
                  <thead>
                      <tr>
                          <th>矿名</th>
                          <th>目标值(I类-V类)</th>
                          <th>水质类别(I类-V类)</th>
                          <th>水质类别(I类-V类)</th>
                          <th>重金属含量	NH3-N</th>
                          <th>酸碱度(pH)</th>
                          <th>化学需氧量(COD)</th>
                          <th>总磷(TP)</th>
                          <th>总氮(TN)</th>
                          <th>高锰酸盐指数</th>
                          <th>监测时间</th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr v-for="elem in data1">
                        <td class="table-td">${elem.name}</td>
                        <td class="table-td">${elem.indicator1}</td>
                        <td class="table-td">${elem.indicator2}</td>
                        <td class="table-td">${elem.indicator3}</td>
                        <td class="table-td">${elem.indicator4}</td>
                        <td class="table-td">${elem.indicator5}</td>
                        <td class="table-td">${elem.indicator6}</td>
                        <td class="table-td">${elem.indicator7}</td>
                        <td class="table-td">${elem.indicator8}</td>
                        <td class="table-td">${elem.indicator9}</td>
                        <td class="table-td">${elem.time}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
        <div class="content_right">
          <div style="width:100%;position:relative;margin-top:10px">
            <div class="assessment-block"><p>水质概况</p></div>
            <div class="box">
              <div class="box-bg box-bg-2"></div>
              <div class="image-border image-border1"></div>
              <div class="image-border image-border2"></div>
              <div class="image-border image-border3"></div>
              <div class="image-border image-border4"></div>
              <div style="position:relative;">
                <div id="water-pie"></div>
                <div class="water-pie-desc">
                  <p class="water-pie-desc-title">综合评分</p>
                  <div class="water-pie-data-area">
                    <div class="water-pie-data-area-content">
                      <p class="water-pie-data-area-content3">更新时间：2020/10/17 9:50</p>
                      <p class="water-pie-data-area-content1">达标率：</p>
                      <p class="water-pie-data-area-content2">95.24%</p>
                    </div>
                    <div class="water-pie-data-area-score"><p>95<p><span>分</span></div>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="assessment-block"><p>同比环比</p></div>
            <div class="box">
              <div class="box-bg box-bg-3"></div>
              <div class="image-border image-border1"></div>
              <div class="image-border image-border2"></div>
              <div class="image-border image-border3"></div>
              <div class="image-border image-border4"></div>
              <div id="water-bar"></div>
            </div>
          </div>
          <div style="position:relative">
            <div class="assessment-block"><p>水质总体趋势图</p></div>
            <div class="box">
              <div class="box-bg box-bg-4"></div>
              <div class="image-border image-border1"></div>
              <div class="image-border image-border2"></div>
              <div class="image-border image-border3"></div>
              <div class="image-border image-border4"></div>
              <div id="water-line"></div>
              <div class="date-box">
                <div class="period" @click="dayBtnClick">日</div>
                <div class="period" @click="monthBtnClick">月</div>
                <div class="period" @click="yearBtnClick">年</div>
              </div>
            </div>
          </div>


        </div>
      </div>
  </div>

</body>
<script src="/public/js/lib/jquery.min.js"></script>
<script src="/public/js/lib/echarts.min.js"></script>
<script src="/public/js/lib/vue.min.js"></script>
<script src="/public/js/lib/iview.min.js"></script>
<script src="/public/js/src/util.js"></script>
<script src="/public/js/src/mine/water.js"></script>
</html>
