*{
  margin: 0;
  padding: 0;
}
body{
  width:100%;
  margin: 0;
  min-height: 100vh;
  background-image: url('/public/images/energy/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

#content{
    width:100%;
    height: 100vh;
}

.main-content{
  width:100%;
  height: calc(100vh - 115px);
  position: relative;
  background-image: url('/public/images/energy/area-buildings-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -30px;
}

.content_left{
  flex-grow: 0;
  width:30%;
  min-height: 800px;
}

.content_right{
  flex-grow: 0;
  width: 30%;
  min-height: 800px;
  margin-right: 15px;
}

.content_center{
  flex-grow: 1;
  min-height: 900px;
  justify-content: center;
  position: relative;
}

#main{
  width: 100%;
  min-height: 900px;
  position: absolute;
  top:0px;
  left:0px;
}

.header{
  width:100%;
  height: 80px;
  color:#A5D9E1;
  font-size: 25px;
  font-weight: bold;
  background-image: url('/public/images/mine/header-bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.header-back{
  position: absolute;
  left:15px;
  width: 60px;
  height: 60px;
  top:10px;
  background-image: url('/public/images/mine/back.png');
  background-size: contain;
  cursor:pointer;
}
.header-title{
  width: 100%;
  height: 80px;
  text-align: center;
}

.header-title p{
  line-height: 80px;
}

.left-menu{
  position: absolute;
  top:40px;
  left:11%;
  width: 26%;
}

.menu{
  display: inline-block;
  width: 180px;
  font-size: 22px;
  font-weight: bold;
  color: #A5D9E1;
  margin: 0px 30px;
  text-align: center;
  cursor: pointer;
}

.menu-bottom{
  position: absolute;
  top:35px;
  right:40px;
  width:180px;
  height:4px;
}

.right-menu{
  position: absolute;
  top:40px;
  right:11%;
}

.pic1{
  position: absolute;
  top:20px;
  left:30px;
  width:20%;
  height: auto;
}

.pic2{
  position: absolute;
  top:20px;
  right:30px;
  width:20%;
  height: auto;
}

.pic3{
  position: absolute;
  left:30px;
  bottom:30px;
}

.pic4{
  position: absolute;
  top:100px;
  right:30px;
  width:20%;
  height: auto;
}

.pic5{
  position: absolute;
  top:350px;
  right:30px;
  width:20%;
  height: auto;
}

.pic6{
  position: absolute;
  bottom:30px;
  right:30px;
  width:20%;
  height: auto;
}
