*{
  margin: 0;
  padding: 0;
}
body{
  width:100%;
  margin: 0;
  background-image: url('/public/images/energy/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
}

#content{
    width:100%;
    height: 100vh;
}

.main-content{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width:100%;
  height: 100vh;
  position: relative;
}

.content_left{
  flex-grow: 0;
  width:30%;
  min-height: 800px;
}

.content_center{
  flex-grow: 1;
  min-height: 900px;
  justify-content: center;
  position: relative;
}

#main{
  width: 100%;
  min-height: 900px;
  position: absolute;
  top:0px;
  left:0px;
}

.header{
  width:100%;
  height: 115px;
  color:#A5D9E1;
  font-size: 32px;
  font-weight: bold;
  background-image: url('/public/images/mine/header-bg-2560.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.header-back{
  position: absolute;
  left:15px;
  width: 60px;
  height: 60px;
  top:25px;
  background-image: url('/public/images/mine/back.png');
  background-size: cover;
  cursor:pointer;
}
.header-title{
  width: 100%;
  height: 115px;
  text-align: center;
}

.header-title p{
  line-height: 115px;
}

.left-menu{
  position: absolute;
  top:65px;
  left:18%;
  width: 25%;
}

.menu{
  display: inline-block;
  width: 140px;
  font-size: 22px;
  font-weight: bold;
  color: #A5D9E1;
  margin: 0px 30px;
  text-align: center;
  cursor: pointer;
}

.menu-bottom{
  position: absolute;
  top:40px;
  left:30px;
  width:140px;
  height:4px;
}

.right-menu{
  position: absolute;
  top:65px;
  right:19%;
}


.box{
  position: relative;
  margin: 20px;
}

.box-bg{
  width: 100%;
  position: absolute;
  top:0px;
  background: rgba(14, 55, 116, 0.7);
  z-index: -10;
}

.box-bg-1{
  height: calc(100vh - 160px);
}

.box-bg-2{
  height:500px;
}

.box-bg-3{
  height:300px;
}

.box-bg-4{
  height:400px;
}

.image-border{
  position: absolute;
	width: 20px;
	height: 20px;
}

.image-border1 {
	top: 0;
	left: 0;
	border-left: 1px solid #A5D9E1;
	border-top: 1px solid #A5D9E1;
}

.image-border2 {
	top: 0;
	right: -2px;
	border-right: 1px solid #A5D9E1;
	border-top: 1px solid #A5D9E1;
}

.image-border3 {
	bottom: 0;
	left: 0;
	border-bottom: 1px solid #A5D9E1;
	border-left: 1px solid #A5D9E1;
}

.image-border4 {
	bottom: 0;
	right: -2px;
	border-right: 1px solid #A5D9E1;
	border-bottom: 1px solid #A5D9E1;
}

.update-time{
  width:200px;
  font-size: 16px;
  font-weight: bold;
  color: #A5D9E1;
  text-align: right;
  position: absolute;
  right:30px;
  bottom: 15px;
}

.assessment-block{
  width: 96%;
  height:30px;
  background: linear-gradient(to right,#0E3774, #3074B1);
  margin: 5px 5px;
  position:relative;
  display:inline-block;
  cursor:pointer;
}

.assessment-block::before{
  content: "";
  display: inline-block;
  height: 30px;
  width: 20px;
  background: url(/public/images/mine/left-slash-block.png) no-repeat;
  background-size: 100%;
  position: absolute;
  left: -10px;
  top: 0px;
}

.assessment-block p{
  margin-left: 15px;
  line-height: 30px;
  vertical-align: middle;
  font-size: 16px;
  font-weight: bold;
  color:#A5D9E1;
  display: inline-block;
}

#count-graphic{
  width: 100%;
  height:500px;
}

.main-menu-block{
  width:100%;
  height: 300px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-bottom: 50px;
  margin-top: 15px;
}

.menu-block{
  width:200px;
  height: 300px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}


#graphic{
  position: relative;
  width:100%;
  height:calc(100vh - 160px);
}

.main-board{
  width: 968px;
  height:502px;
  position: absolute;
  top:0px;
  left:0px;
}

.room{
  width: 968px;
  height:502px;
  position: absolute;
  top:0px;
  left:0px;
}

.menu-inner-block{
  text-align: center;
  width: 100%;
}

.menu-inner-block p{
  font-size: 18px;
  font-weight: bold;
  color:#DFC73D;
  height: auto;
  letter-spacing: 5px;
}

.menu-icon{
  width:100px;
  height:auto;
  margin-top: 60px;
}
